<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/public/css/style.css">


  <title>Cebrama</title>
</head>

<body>
  <header class="header">
    <section class="header-section">
      <div class="div-contenedor">
        <div class="div-contenido align-items">
          <div class="div-logo">
            <img src="/public/img/logo-cebrama.jpeg" class="logo">
          </div>
          <nav class="main-searchbar">
            <form action="" method="" class="searchbar">
              <input type="text" id="search" name="imputsearchnav" placeholder="Buscar productos, marcas..."
                class="input">
              <i class="fa fa-search" aria-hidden="true"></i>
            </form>
          </nav>

          <div class="div-ul-header">
            <nav class="header-nav">
              <ul>

                <li><a href="../index.html">home <i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li><a href="/views/login.html">inicio seción <i class="fa fa-user-circle" aria-hidden="true"></i></a>
                </li>
                <li><a href="/views/register.html">registro <i class="fa fa-registered" aria-hidden="true"></i></a></li>
                <li class="nosotros"><a href="#nosotros">nosotros <i class="fa fa-info" aria-hidden="true"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main>
    <section class="secctionsconarticles div-contenedor">
      <div class="div-contenido space">
        <div class="headerdelsectiondelmain">
          <a href="/views/allproducts.html">Nuestros productos</a>
        </div>
        <article class="article-productos">
          <div class="infodetail">
            <a href="/views">
              <figure class="imgarticle">
                <img id="img-src" src="/public/img/lata.jpeg" alt="">
              </figure>
              <div class="divcontodaladescripcion">
                <h2 class="titledescription">
                  Lata Galletitas
                </h2>
              </div>
              <div class="div-precio-carrito">
                <p id="price">
                  $2900
                </p>
                <a id="button-cartt"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </div>
            </a>
          </div>
        </article>
        <article class="article-productos">
          <div class="infodetail">
            <a href="/views/section1.html">
              <figure class="imgarticle">
                <img id="img-src" src="/public/img/lata.jpeg" alt="">
              </figure>
              <div class="divcontodaladescripcion">
                <h2 class="titledescription">
                  Lata Galletitas
                </h2>
              </div>
              <div class="div-precio-carrito">
                <p id="price">
                  $2900
                </p>
                <a id="button-cartt"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </div>
            </a>
          </div>
        </article>
        <article class="article-productos">
          <div class="infodetail">
            <a href="/views/section1.html">
              <figure class="imgarticle">
                <img id="img-src" src="/public/img/lata.jpeg" alt="">
              </figure>
              <div class="divcontodaladescripcion">
                <h2 class="titledescription">
                  Lata Galletitas
                </h2>
              </div>
              <div class="div-precio-carrito">
                <p id="price">
                  $2900
                </p>
                <a id="button-cartt"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </div>
            </a>
          </div>
        </article>
        <article class="article-productos">
          <div class="infodetail">
            <a href="/views/section1.html">
              <figure class="imgarticle">
                <img id="img-src" src="/public/img/lata.jpeg" alt="">
              </figure>
              <div class="divcontodaladescripcion">
                <h2 class="titledescription">
                  Lata Galletitas
                </h2>
              </div>
              <div class="div-precio-carrito">
                <p id="price">
                  $2900
                </p>
                <a id="button-cartt"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
              </div>
            </a>
          </div>
        </article>




      </div>

    </section>
  </main>
  <footer>
    <div class="div-contenedor">
      <div class="div-contenido-footer">
        <section class="sectiondelfooter-1">
          <div class="divprincipal">
            <div class="divdelprincipal-1">
              <h5>contactanos en : </h5>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="divdelprincipal-2">
              <h5>encontranos en : </h5>
              <a href="https://www.instagram.com/cebramahomedeco/" target="_blank">instagram</a>
              <a href="https://www.facebook.com/profile.php?id=100064641580999" target="_blank">facebook</a>
            </div>
          </div>

        </section>
        <section class="sectiondelfooter-2">
          <div class="divconh5ydiv">
            <h5>añada una alerta para nuevos productos :</h5>
            <div class="searchbarfooter">
              <label for=""></label>
              <input type="" id="inputemailfo" placeholder="email" class="emailbar">
              <button type="submit" id="button-fo" class="buttonsubmit">enviar</button>
            </div>
          </div>
          <div class="aboutus-box" id="nosotros">
            <h5>sobre nosotros:</h5>
            <p>
              Nos destacamos por el diseño y la calidad en el servicio. <br> Buscamos la mejora continua en todas
              nuestras áreas con el fin de brindar la mejor atención a <br> nuestros clientes, bajo la premisa de
              ofrecer los mejores productos al mejor precio. Somos un equipo de <br> personas que trabajan día a
              día para cumplir con la ardua tarea de distribución, diseño y abastecimiento <br> de artículos que
              se adapten a las nuevas demandas del mercado, manteniendo la originalidad y <br> calidad de los
              mismos.
            </p>
          </div>
        </section>
        <section class="section-footer-button">
          <button class="button-bell"><i class="fa fa-bell" aria-hidden="true"></i></button>
          <button class="button-info"><i class="fa fa-info" aria-hidden="true"></i></button>
        </section>
      </div>
    </div>

  </footer>
</body>

</html>