<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="/public/css/stylesregister.css">
  <title>Cebrama</title>
</head>

<body class="d-flex flex-column min-vh-100">
  <header class="header">
    <section class="header-section">
      <div class="div-contenedor">
        <div class="div-contenido align-items">
          <div class="div-logo">
            <img src="/public/img/logo-cebrama.jpeg" class="logo">
          </div>
          <nav class="main-searchbar">
            <form action="" method="" class="searchbar">
              <input type="text" id="search" name="imputsearchnav" placeholder="Buscar productos, marcas..."
                class="input">
              <i class="fa fa-search" aria-hidden="true"></i>
            </form>
          </nav>

          <div class="div-ul-header">
            <nav class="header-nav">
              <ul>

                <li><a href="../index.html">home <i class="fa fa-home" aria-hidden="true"></i></a>
                </li>
                <li><a href="/views/login.html">inicio seción <i class="fa fa-user-circle" aria-hidden="true"></i></a>
                </li>
                <li><a href="/views/register.html">registro <i class="fa fa-registered" aria-hidden="true"></i></a>
                </li>
                <li class="nosotros"><a href="#nosotros">nosotros <i class="fa fa-info" aria-hidden="true"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>
  </header>
  <main class="main flex-fill">
    <section>

      <header>
        <section class="sectiondelheader">
          <i class="fa fa-address-card" aria-hidden="true"> Registro</i>
        </section>
      </header>
      <ul class="errores" id="errores"></ul>

      <form action="" method="" enctype="" id="form">

        <div>
          <label for="usuario">Nombre:</label>
          <input type="text" name="firstName" id="firstName" class="form-input">
        </div>
        <div>
          <label for="usuario">Apellido:</label>
          <input type="text" name="lastName" id="lastName" class="form-input">

        </div>
        <div>
          <label for="email">E-mail:</label>
          <input type="text" name="email" id="mail" class="form-input">

        </div>
        <div>
          <label for="contraseña">contraseña :</label>
          <input type="password" name="password" id="password" class="form-input">

        </div>
        <div>
          <label for="imagen"> Avatar</label>
          <input type="file" name="image" id="imagen" class="form-input">

        </div>
        <div class="divconboton">
          <button type="submit" id="buttonContinued"> continuar </button>
        </div>
      </form>
    </section>

  </main>
  <footer>
    <div class="div-contenedor">
      <div class="div-contenido-footer">
        <section class="sectiondelfooter-1">
          <div class="divprincipal">
            <div class="divdelprincipal-1">
              <h5>contactanos en : </h5>
              <i class="fa fa-instagram" aria-hidden="true"></i>
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </div>
            <div class="divdelprincipal-2">
              <h5>encontranos en : </h5>
              <a href="https://www.instagram.com/cebramahomedeco/" target="_blank">instagram</a>
              <a href="https://www.facebook.com/profile.php?id=100064641580999" target="_blank">facebook</a>
            </div>
          </div>

        </section>
        <section class="sectiondelfooter-2">
          <div class="divconh5ydiv">
            <h5>añada una alerta para nuevos productos :</h5>
            <div class="searchbarfooter">
              <label for=""></label>
              <input type="" id="inputemailfo" placeholder="email" class="emailbar">
              <button type="submit" id="button-fo" class="buttonsubmit">enviar</button>
            </div>
          </div>
          <div class="aboutus-box" id="nosotros">
            <h5>sobre nosotros:</h5>
            <p>
              Nos destacamos por el diseño y la calidad en el servicio. <br> Buscamos la mejora continua en todas
              nuestras áreas con el fin de brindar la mejor atención a <br> nuestros clientes, bajo la premisa de
              ofrecer los mejores productos al mejor precio. Somos un equipo de <br> personas que trabajan día a
              día para cumplir con la ardua tarea de distribución, diseño y abastecimiento <br> de artículos que
              se adapten a las nuevas demandas del mercado, manteniendo la originalidad y <br> calidad de los
              mismos.
            </p>
          </div>
        </section>
        <section class="section-footer-button">
          <button class="button-bell"><i class="fa fa-bell" aria-hidden="true"></i></button>
          <button class="button-info"><i class="fa fa-info" aria-hidden="true"></i></button>
        </section>
      </div>
    </div>

  </footer>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>