* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    border: solid 1px black;
}

header {
    background-color: #FAE5D3;
    width: 100%;
}

.sectiondelheader {
    padding: 20px;
    text-align: left;


}

.sectiondelheader i {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid black;
    width: 100%;
}

.main {
    background-color: #FAE5D3;
    border: solid 1px black;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px;
}

main section {
    margin-bottom: 10px;
    font-size: 15px;
}

section div {
    margin-bottom: 10px;
    margin-left: 20px;
}
div label{
    display: block;
}

.form-input {
    width: 90%;
}
.sectionconboton{
    margin-top: 20px;
}

.divconboton button {
    border: 1px solid black;
    padding: 6px;
    text-decoration: none;
    color: black;
    background-color: #9B7E68;
}

